header {
    background: #2f1515bb;
}

nav li{
    
    display: inline;
    margin: 0 0 0 15px;

}

nav a{
    
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    
}
 nav{

    position: absolute;
    top: 110px;
    right: 780px;


 }

 .produtos li {

    display: inline-block;
    text-align: center;
    
 }

 .produtos{

     width: 940px;
     margin: 0 auto;

 }

 
